<!-- Home page templates contained in here  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-Do-List</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>To-Do-List</h1>
    <form id="taskForm" action="/add" method="POST">
        <input type="text" name="newTask" required>
        <input type="submit" value="Publish">
    </form>
    <ul>
        <% tasklist.forEach(function(task) { %>
            <li><%= task %> </li>
      <%  }); %>
    </ul>

    // Redirect to login if not logged in
    <script>
        if (!localStorage.getItem('todoUser')) {
        window.location.href = 'login.html';
        }

    </script>



    
</body>
</html>